.infobox {
    padding: 1em 1em 1em 4em;
    background: #30898b;
    color: white;
    border: 1px dashed #1c5152;
    border-radius: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.infoicon {
  background-image: url("images/waving-hand.png");
}

.infotitle {
  text-align: left;
  font-size: 16px;
}